<nav class="navbar navbar-default">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Tims Py WebSite</a>
     </div> <!--/.navbar-header-->
     <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
             <li><a href="../home.html">Home</a></li>
             <li><a href="../about.html">About</a></li>
             <li><a href="../articles.html">Articles</a></li>
         </ul>
     </div> <!--/.nav-collapse -->
    </div> <!--/.container-->
</nav>
